[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.5"
django-debug-toolbar = "5.0.1"
pillow = "11.1.0"
python-decouple = "3.8"
social-auth-app-django = "5.4.0"
django-extensions = "3.2.3"
werkzeug = "3.0.2"
pyOpenSSL = "24.1.0"

[dev-packages]
djlint = "*"
black = "*"

[requires]
python_version = "3.13"
